<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SiteUrl" value="https://tenant.sharepoint.com/sites/dev" />
    <add key="WebRelativeListUrl" value="Lists/TestList" />
    <add key="WorkflowName" value="Workflow name" />
    <add key="ListItemId" value="1" />
    
    <add key="UserName" value="@tenant.onmicrosoft.com" />
    <add key="Password" value="" />
    
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>